@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
* {
	margin: 0;
	padding: 0;
	font-family: Arial;
	box-sizing: border-box;
}
.content {
	width: 100%;
	min-height: 100hv;
	height: 720px;
	background-image: linear-gradient(rgba(9, 0, 77, 0.65), rgba(9, 0, 77, 0.65)), url(../background.png);
	background-size: cover;
	background-position: center;
	padding: 10px 8%;
}
.content nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
	margin-top: 25px;
}
.content .logo {
	width: 150px;
	cursor: pointer;
	margin-left: -65px;
}
.content nav ul {
	list-style: none;
	width: 100%;
	text-align: center;
	margin-right: -25px;
}
.content nav ul li {
	display: inline-block;
	margin: 10px 20px;
}
.content nav ul li a {
	color: whitesmoke;
	text-decoration: none;
}
.content .bar .button img {
	width: 20px;
	margin-right: 10px;
}
.content .bar{
	align-items: right;
	margin-top: -35px;
	margin-right: -65px;
}
.content .bar form {
	display: flex;
	align-items: right;
	background: #fff;
	border-radius: 10px;
	padding: 10px;
	margin-top: 30px;
}
.content .bar form input {
	border: 0;
	outline: 0;
	width: 200px;
	font-size: 16px;
	padding-left: 10px;
}

.content .bar .button {
	font-size: 15px;
	display: flex;
	align-items: center;
	padding: 10px 20px;
	border: 0;
	outline: 0;
	border-radius: 5px;
	background: orangered;
	color: #fff;
	font-weight: 500;
	cursor: pointer;
}
.content .name {
	align-items: left;
	color: whitesmoke;
	margin-left: -65px;	
}
.footer {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: orange;
    background-color: purple;
	background-image: linear-gradient(rgba(9, 0, 77, 0.65), rgba(9, 0, 77, 0.65));
    padding: 70px 0;
}

.footer .copy {
    color: orangered;
	font-family: georgian;
	font-weight: bold;
	font: bold;
    margin-left: 50px;
	margin-top: -50px;
}
.footer .bottom-links {
	max-width: 1170px;
	margin: auto;
	align-items: center;
}
.footer .bottom-links .links {
    display: flex;
	flex-wrap: wrap;	
}
.footer .bottom-links .links .col {
	width: auto;
	padding: 0 15px;
	align-items: center;
}
.footer .bottom-links .links .col ul {
	list-style: none;
}
.footer .bottom-links .links .col ul li:not(last-child) {
	margin-bottom: 10px;
}
.footer .bottom-links .links .col ul li a {
	font-size: 16px;
	text-transform: capitalize;
	color: black;
	text-decoration: none;
	font-weight: 300;
	display: block;
	transition: all 0.3s ease;
	color: orangered;
	padding-left: 8px;
}
.footer .bottom-links .links .col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: linear-gradient(rgba(9, 0, 77, 0.65), rgba(9, 0, 77, 0.65));
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	color: black;
	transition: all 0.5s ease;
	margin-left: 500px;
}
/*.footer .bottom-links .links .col .social-links a:hover {
}*/